.about-us-background {
  min-height: 80vh;
}

.about-us-header-image {
  background-image: url('../images/about-us-header.jpg');
  background-color: #505663;
  background-position: center;
  background-size: cover;
}

.header-h1 {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 16px;
}

.about-us-header-mobile {
  margin-bottom: 0px;
}

.header-h3 {
  color: #6a6a6a;
  font-size: 18px;
}

.header-span {
  color: #9e9a79;
  font-size: 37px;
  font-weight: 700;
}

.text-container p {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
  margin: 0px;
}

/* .parallax {
  background-image: url("../images/about-us-header.jpg");

  min-height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
