.about-us-header-image {
  background-image: url("../images/about-us-header.jpg");

  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.header-h1 {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 16px;
}

.header-h3 {
  color: #6A6A6A;
  font-size: 18px;
}

.header-span {
  color: #9E9A79;
  font-size: 37px;
  font-weight: 700;
}

.text-container p {
  color: #6A6A6A;
  line-height: 24px;
  font-size: 15px;
  margin: 0px;
}

/* .parallax {
  background-image: url("../images/about-us-header.jpg");

  min-height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */