.contact-us-header-image {
  background-image: url('../images/contact-us-header.jpg');
  background-color: #505663;
  background-position: center;
  background-size: cover;
}

.contact-us-office-title {
  color: #6a6a6a;
  font-size: 25px;
}

span path {
  color: #9e9a79;
}

div address {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
}

div span {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
}

div p {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
  /* margin: 0px; */
}

p a {
  text-decoration: none;
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

p a:hover {
  color: gray;
  opacity: 0.7;
}
