.email-form-form {
  background-color: #f1f1f1;
}

.email-form-h4 {
  color: #fff9d1;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

.email-form-h5 {
  color: #fff9d1;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

.email-form-button {
  background-color: #043a49;
  color: #fff9d1;
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.3s;
}

.email-form-button:hover {
  opacity: 0.8;
}

form label {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
}

form input {
  margin-bottom: 16px;
}

form select {
  margin-bottom: 16px;
}

form select:hover {
  cursor: pointer;
}

form textarea {
  margin-bottom: 32px;
}

div h3 {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
}
