footer {
  background-color: #494F5E;
  color: #fff;

}

.footer-location {
  font-size: 12px;
  line-height: 25px;
}

.footer-location-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}

.footer-location-address {
  font-size: 13px;
  line-height: 25px;
}

.copyright-text {
  font-weight: 300;
  font-size: 16px;
  color: #ABB8C3;
}