.home-contact-form-button {
  background-color: #043A49;
  color: #FFF9D1;
  border: none;
  border-radius: 10px;
  padding: 25px;
  opacity: 0.6;
  transition: 0.5s;
}

.home-contact-form-button:hover {
  opacity: 1;
}

.form-submit-message {
  color: #FFF9D1;
  padding-bottom: 25px;
  font-weight: 400;
}

.home-carousel-h1 {
  color: #FFF9D1;
  font-weight: 400;
}
