.nav-container {
  position: '-webkit-sticky';
  background-color: #235161;
  position: sticky;
  top: 0;
  /* z-index: 5; */
}

.nav-mobile-view {
  background-color: #043a49;
}

.navlink {
  color: #e3f1de;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease-in-out;
  padding: 8px 10px;
  border-radius: 5px;
}

.navlink-mobile {
  display: block;
  color: #e3f1de;
  text-decoration: none;
  padding: 0px 8px;
  cursor: default;
}

.navlink--selected {
  opacity: 0.3;
  background-color: #e3f1de;
  color: #043a49;
  padding: 8px 10px;
  border-radius: 5px;
}

.navlink:hover,
.navlink:focus {
  opacity: 0.6;
  background-color: #e3f1de;
  color: #043a49;
  padding: 8px 10px;
  border-radius: 5px;
}

.navsearch {
  color: #e3f1de;
  opacity: 1;
  transition: 0.3s ease-in-out;
  padding: 5px 9px;
  border-radius: 5px;
}

.navsearch--selected {
  opacity: 0.3;
  background-color: #e3f1de;
  color: #043a49;
  padding: 5px 9px;
  border-radius: 5px;
}

.navsearch:hover,
.navsearch:focus {
  opacity: 0.6;
  background-color: #e3f1de;
  color: #043a49;
  padding: 5px 9px;
  border-radius: 5px;
}

.navsearch-mobile {
  color: #9e9a79;
}

.navbars {
  border: 2px solid #5b5a4a;
  border-radius: 3px;
  color: #9e9a79;
  opacity: 1;
  transition: 0.3s ease-in-out;
  padding: 8px;
}

.navbars:hover,
.navbars:focus {
  cursor: pointer;
}

.nav-dropdown {
  background-color: #235161;
  list-style-type: none;
}

.nav-dropdown-item {
  line-height: 2.2;
  border-bottom: 1px solid #747a71;
  margin-right: 28px;
}

/*
rgb(255, 255, 255)
#fff
rgb(5, 58, 74)
#043A49
#235161
rgb(103, 125, 115)
#677D73
rgb(227, 241, 222)
rgb(158, 154, 121)
#9E9A79
#AA9465
rgb(255, 249, 209)
#FFF9D1

<p> font color
#6A6A6A;
#9E9A79;
#222; */
