.medicare-info-header-image {
  background-image: url("../images/medicare-info-header.jpg");

  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
