.medicare-info-background {
  /* background-image: url("../images/medicare-info-background.jpg");
  background-position: center;
  background-size: cover; */
  min-height: 80vh;
  /* background-color: rgb(243 243 243); */
}

.medicare-info-header-image {
  background-image: url("../images/medicare-info-header.jpg");

  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}