
.post-title {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  opacity: 1;
  transition: 0.3s;
}

.post-category-container {
  display: flex;
  margin-top: 18px;
  margin-bottom: 28px;
  font-size: 13px;
}

.post-author {
  color: #6A6A6A;
  text-transform: uppercase;
}

.post-category {
  color: #9E9A79;
  text-transform: uppercase;
}

.post-content {

}