.post-container {
  padding: 36px;
  box-shadow: 3px 3px 3px lightgray;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.post-title {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  line-height: 1;
}

.post-category-container {
  display: flex;
  margin-top: 27px;
  margin-bottom: 28px;
  font-size: 13px;
}

.post-author {
  color: #6a6a6a;
  text-transform: uppercase;
}

.post-category {
  color: #9e9a79;
  text-transform: uppercase;
}

.post-link-category {
  color: #9e9a79;
  opacity: 1;
  transition: 0.3s;
}

.post-link-category:hover {
  color: #9e9a79;
  opacity: 0.7;
  text-decoration: underline;
}

.post-content {
  margin-bottom: 60px;
  overflow-x: auto;
}

.post-content img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.post-content h1 {
  color: #6a6a6a;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5;
}

.post-content h2 {
  color: #6a6a6a;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5;
}

.post-content h3 {
  color: #6a6a6a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5;
}

.post-content h4 {
  color: #6a6a6a;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.post-content h5 {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.post-content h6 {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.post-content blockquote {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  border-left: 5px solid #9e9a79;
  padding-left: 12px;
  line-height: 1.5;
}

.post-content ul {
  margin-left: 10px;
  padding-left: 10px;
  list-style-type: disc;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  line-height: 1.5;
}

.post-content ol {
  margin-left: 10px;
  padding-left: 10px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  line-height: 1.5;
}

strong {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
}

.post-content p {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.post-content span {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
}

.post-content a {
  color: #9e9a79;
  text-decoration: underline;
  opacity: 1;
  transition: 0.3s;
}

.post-content a:hover {
  color: #9e9a79;
  opacity: 0.7;
  text-decoration: underline;
}

.post-content table {
  margin-bottom: 30px;
  white-space: nowrap;
}

.post-content tr {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.post-content th {
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  padding: 5px 10px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.post-content td {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
