.post-container {
  padding: 36px;
  box-shadow: 3px 3px 3px lightgray;
  border: 1px solid #E0E0E0;
  background-color: #FFF;
}

.post-title {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  opacity: 1;
  transition: 0.3s;
}

.post-category-container {
  display: flex;
  /* margin-top: 18px; */
  margin-top: 27px;
  margin-bottom: 28px;
  font-size: 13px;
}

.post-author {
  color: #6A6A6A;
  text-transform: uppercase;
}

.post-category {
  color: #9E9A79;
  text-transform: uppercase;
}

.post-link-category {
  color: #9E9A79;
  text-transform: capitalize;
  opacity: 1;
  transition: 0.3s;
}

.post-link-category:hover {
  color: #9E9A79;
  opacity: 0.7;
  text-decoration: underline;
}

.post-content {
  margin-bottom: 60px;
}

.post-content img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.post-content h1 {
  color: #6A6A6A;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.post-content h2 {
  color: #6A6A6A;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.post-content h3 {
  color: #6A6A6A;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.post-content h4 {
  color: #6A6A6A;
  font-size: 20px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}

.post-content h5 {
  color: #6A6A6A;
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}

.post-content h6 {
  color: #6A6A6A;
  font-size: 16px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}

.post-content blockquote {
  color: #6A6A6A;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  border-left: 5px solid #9E9A79;
  padding-left: 10px;
}

.post-content ul {
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.post-content ol {
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

strong {
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
}

.post-content p {
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.post-content span {
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
}

.post-content a {
  color: #9E9A79;
  text-decoration: underline;
  opacity: 1;
  transition: 0.3s;
}

.post-content a:hover {
  color: #9E9A79;
  opacity: 0.7;
  text-decoration: underline;
}

.post-content table {
  margin-bottom: 30px;
}

.post-content tr {
  border: 1px solid #E0E0E0;
  padding: 5px 10px;
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.post-content th {
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
  padding: 5px 10px;
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.post-content td {
  border: 1px solid #E0E0E0;
  padding: 5px 10px;
  color: #6A6A6A;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}