.search-message {
  color: #6a6a6a;
}

.article-container {
  padding: 36px;
  box-shadow: 3px 3px 3px lightgray;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.article-title-anchor {
  text-decoration: none;
}

.article-title {
  color: #222;
  font-weight: 700;
  font-size: 37px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.article-title:hover {
  color: #9e9a79;
  opacity: 0.8;
}

.article-category-container {
  display: flex;
  margin-top: 18px;
  margin-bottom: 28px;
  font-size: 13px;
}

.article-author {
  color: #6a6a6a;
  text-transform: uppercase;
}

.article-category {
  color: #9e9a79;
  text-transform: uppercase;
}

.article-description {
  color: #6a6a6a;
  line-height: 24px;
  font-size: 15px;
}

.article-button {
  margin-top: 28px;
  background-color: #043a49;
  color: #fff9d1;
  border: none;
  border-radius: 4px;
  padding: 13px 16px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.article-button:hover {
  opacity: 0.8;
}

.article-button:active {
  outline: solid 2px #aa9465;
  transition: none;
}

.article-button:focus {
  outline: solid 2px #aa9465;
  transition: none;
}
