.services-background {
  min-height: 80vh;
}

.services-header-image {
  background-image: url('../images/services-header.jpg');
  background-color: #505663;
  background-position: center;
  background-size: cover;
}

.service-li-h4 {
  color: #fff9d1;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

.service-li-h5 {
  color: #fff9d1;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

.service-li {
  color: #6a6a6a;
  line-height: 30px;
  font-size: 15px;
}
