.services-background {
  min-height: 120vh;
}

.services-header-image {
  background-image: url("../images/services-header.jpg");

  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.service-li-h4 {
  color: #FFF9D1;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

.service-li-h5 {
  color: #FFF9D1;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

.service-li {
  color: #6A6A6A;
  line-height: 30px;
  font-size: 15px;
}