.tax-info-background {
  /* background-image: url("../images/tax-info-background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 110vh; */
  /* background-color: rgb(243 243 243); */
  min-height: 166vh;
}

.tax-info-header-image {
  background-image: url("../images/tax-info-header.jpg");

  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}